.checkIcon {
  width: 13px;
  height: 10px;
  position: relative;
}
.check {
  height: 27px;
  width: 27px;
  border-radius: var(--br-11xl);
  background-color: var(--color-aquamarine-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs-5) var(--padding-6xs);
  box-sizing: border-box;
}
.desvincularAAlguien {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 367px;
  max-width: 100%;
}
.benefitItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 800px) {
  .desvincularAAlguien {
    min-width: 100%;
  }
  .benefitItems {
    flex-wrap: wrap;
  }
}
