.frameChild {
  align-self: stretch;
  height: 343px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.evaluacinIntegral {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 300;
  font-family: inherit;
}
.evaluacinIntegralWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}
.diagnsticoYAutoevaluacin {
  margin: 0;
}
.descubraLasCompetencias {
  margin: 0;
  font-size: var(--font-size-sm);
}
.diagnsticoYAutoevaluacinDContainer {
  height: 68px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.diagnsticoYAutoevaluacinDWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-slategray);
  font-family: var(--font-helvetica);
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer {
  width: 386px;
}
.frameGroup {
  border-radius: var(--br-41xl);
  gap: var(--gap-34xl);
}
.frameItem {
  align-self: stretch;
  height: 337.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.resultadosTangibles {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.resultadosTangiblesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.mejoraDeProcesos {
  margin: 0;
}
.optimizacinDeLa {
  margin: 0;
  font-size: var(--font-size-sm);
}
.mejoraDeProcesosOptimizaciContainer {
  height: 68px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.mejoraDeProcesosOptimizaciWrapper {
  width: 386px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-slategray);
  font-family: var(--font-helvetica);
}
.frameDiv,
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent1 {
  align-self: stretch;
  flex-shrink: 0;
}
.frameDiv {
  gap: var(--gap-39xl);
}
.frameInner {
  align-self: stretch;
  height: 345px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.capacitacinEspecializada {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.capacitacinEspecializadaWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.desarrolloDeHabilidades {
  margin: 0;
}
.capacitacinEnHabilidades {
  margin: 0;
  font-size: var(--font-size-sm);
}
.desarrolloDeHabilidadesCapaContainer {
  height: 68px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.desarrolloDeHabilidadesCapaWrapper {
  width: 386px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-slategray);
  font-family: var(--font-helvetica);
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frameParent,
.frameParent2,
.frameParent3,
.frameWrapper {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-30xl);
}
.frameParent,
.frameWrapper {
  flex-direction: row;
  box-sizing: border-box;
}
.frameParent {
  flex: 1;
  display: grid;
  padding: 0 var(--padding-41xl);
  gap: var(--gap-41xl);
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  cursor: pointer;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  padding: 0 0 var(--padding-53xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 1150px) {
  .frameParent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(300px, 520px));
  }
}
@media screen and (max-width: 800px) {
  .capacitacinEspecializada,
  .evaluacinIntegral,
  .resultadosTangibles {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .frameParent {
    gap: var(--gap-11xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    grid-template-columns: minmax(300px, 1fr);
  }
  .frameWrapper {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .evaluacinIntegral {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .frameGroup {
    gap: var(--gap-7xl);
  }
  .resultadosTangibles {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .frameDiv {
    gap: var(--gap-10xl);
  }
  .capacitacinEspecializada {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .frameParent2 {
    gap: var(--gap-5xl);
  }
  .frameParent {
    gap: var(--gap-mini);
  }
}
