.logoIcon {
  height: 41px;
  width: 36.1px;
  position: relative;
}
.inicio {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 40px;
}
.inicioWrapper {
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-46xl);
}
.sobreMi {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 67px;
  white-space: nowrap;
}
.sobreMiWrapper {
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-32xl);
}
.metodologa {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
}
.metodologaWrapper {
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-19xl);
}
.contacto {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-helvetica-neue);
  color: var(--main);
  text-align: left;
  display: inline-block;
  min-width: 77px;
  white-space: nowrap;
}
.contactbutton,
.menulinks,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactbutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-27xl);
  background-color: transparent;
  border-radius: var(--br-21xl);
  background: linear-gradient(180deg, #c1ffd6, #58da6d);
  justify-content: center;
}
.menulinks,
.navbar {
  box-sizing: border-box;
  max-width: 100%;
}
.menulinks {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-526xl);
  gap: var(--gap-base);
}
.navbar {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-40xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--main);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 1350px) {
  .menulinks {
    padding-left: var(--padding-253xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .menulinks,
  .navbar {
    box-sizing: border-box;
  }
  .menulinks {
    display: none;
    padding-left: var(--padding-117xl);
  }
  .navbar {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-10xl);
  }
}
@media screen and (max-width: 450px) {
  .menulinks {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}