.frameChild {
  width: 90px;
  height: 90px;
  position: relative;
  object-fit: contain;
}
.joeDoe {
  position: relative;
  line-height: 150%;
  font-weight: 700;
  display: inline-block;
  min-width: 95px;
}
.kidStarIcon,
.kidStarIcon1,
.kidStarIcon2,
.kidStarIcon3,
.kidStarIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.joeDoeParent,
.kidStarParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.joeDoeParent {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.elProgramaDe {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  color: var(--color-slategray);
}
.frameGroup,
.frameInner,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frameInner,
.frameParent {
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-lightblue);
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-10xl);
  gap: var(--gap-5xl);
}
.frameInner {
  width: 522px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 800px) {
  .frameInner {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 450px) {
  .joeDoe {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .joeDoeParent {
    flex-wrap: wrap;
  }
  .frameInner {
    gap: var(--gap-11xl);
  }
}