.personBookIcon {
  height: 30px;
  width: 30px;
  position: relative;
}
.bookmarkStar {
  width: 49px;
  height: 49px;
  border-radius: var(--br-41xl);
  background-color: var(--color-aquamarine);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-4xs);
  box-sizing: border-box;
}
.holaSoyMnica {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 400;
  font-family: inherit;
}
.bookmarkStarParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-gray-200);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 800px) {
  .holaSoyMnica {
    font-size: var(--font-size-15xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 450px) {
  .holaSoyMnica {
    font-size: var(--font-size-6xl);
    line-height: 36px;
  }
}
