.loQueDicen {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 400;
  font-family: inherit;
}
.testimonialsHeader {
  width: 706px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.nuestrosParticipantesHan {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  color: var(--color-slategray);
  text-align: center;
}
.testimonialsContent {
  width: 923px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.testimonialCards,
.testimonialsContent,
.testimonies {
  flex-shrink: 0;
  display: flex;
  max-width: 100%;
}
.testimonialCards {
  width: 1440px;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-200xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
.testimonies {
  height: 618px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-gray-200);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 800px) {
  .loQueDicen {
    font-size: var(--font-size-15xl);
    line-height: 48px;
  }
  .testimonialCards {
    padding-bottom: var(--padding-123xl);
    box-sizing: border-box;
  }
  .testimonies {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .loQueDicen {
    font-size: var(--font-size-6xl);
    line-height: 36px;
  }
  .testimonialsContent {
    gap: var(--gap-base);
  }
  .testimonies {
    height: auto;
  }
}
