.navbarParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frameParent,
.landing,
.navbarParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-101xl);
  max-width: 100%;
}
.landing {
  width: 100%;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 800px) {
  .navbarParent {
    gap: var(--gap-base);
  }
  .frameParent {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-11xl);
  }
}
